.heroWrapper {
    width: 100%;
    min-height: 260px;
    background: white;
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 20px;
  }
  
  
  .headerText {
    letter-spacing: 0.5px;
    font-size: 2.5rem;
    color: #353839;
    font-weight: 600;
    width: 60%;
    margin-top: 5px;
  }
  
  .heroInner p {
    font-size: 18px;
    margin: 25px 0;
  }
  .inputLocation {
    display: flex;
    justify-content: flex-start;
    width: 475px;
    background: white;
    border-radius: 0.75rem;
  }
  
  .inputLocation i {
    align-self: center;
    justify-self: center;
    padding: 25px;
  }
  .inputLocation input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
  }
  
  .heroImage {
    height: 100%;
  }
  
  .heroImage img {
    height: 100%;
    justify-content: center;
    bottom: 20px;
    top: 20px
  }
  
  
  @media (max-width: 900px) {
    .heroImage {
      width: 100%;
    }
    .heroImage img {
      height: 70vw;
      object-fit: cover;
      justify-content: center;
      bottom: 20px;
      top: 30px
    }
    .heroWrapper {
      align-items: flex-end;
    }
  
    .heroInner {
      margin: 50px 20px;
      overflow: hidden;
      width: 100%;
    }
  
    .slogan {
      display: none;
    }
  
    .headerText {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 550px) {
  
    .heroImage img {
      object-fit: cover;
      justify-content: center;
      bottom: 20px;
      top: 40px;
    }
    .headerText {
      width: 80%;
      font-size: 1.75rem;
    }
  }
  
  @media (max-width: 400px) {
    .headerText {
      width: 80%;
      font-size: 1.5rem;
    }
    .heroImage img {
      justify-content: center;
      bottom: 20px;
      top: 50px;
    }
  }