.App {
  text-align: center;
  display: flex; /* add flex display */
  flex-wrap: wrap; /* allow for wrapping if necessary */
  justify-content: center; /* center horizontally */
}

.FlightForm + .FlightForm {
  margin-left: 40px; /* add a margin to the left of the second form */
}

.FlightForm {
  width: calc(
    50% - 10px
  ); /* subtract half of the margin from each form's width */
  box-sizing: border-box; /* include padding and borders in width */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
