.flight-group {
  display: inline-block;
  text-align: center; /* center the button wrapper */
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-wrapper {
  display: inline-block; /* display the button wrapper inline */
}

.button {
  display: flex;
  align-items: center;
  width: 120px;
  margin-bottom: 4px;
  border: 1px solid gray; /* set the initial border */
  border-radius: 4px; /* add rounded corners */
  transition: border-color 0.2s ease-in-out; /* add transition effect */
}

.button:hover {
  border-color: black; /* change border color on hover */
}

.button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 24px;
  margin-bottom: 8px;
  text-rendering: optimizeLegibility;
}




