.budget-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F8AFA6;
  border: 5px solid #F9F1F0;
  border-radius: 15px;
  padding: 15px;
  width: 250px;
  height: 50px;
}

.budget-heading {
  margin-top: 17.5px;
}

.budget-rating-text {
  text-align: centeral;
}

.ratings-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Add this to make the child elements position relative to this container */
}

.budget-hover-text {
    font-size: 10px;
    position: absolute;
    top: calc(50% + 10px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    white-space: nowrap;
}

.ratings-div:hover .budget-hover-text {
  display: block;
}



.budget-empty {
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}

.budget-full {
  background-color: goldenrod;
  border-radius: 100%;
}