.button {
  width: 25%;
  margin-bottom: 4%;
  border: 1px solid coral; /* set the initial border */
  border-radius: 4px; /* add rounded corners */
  transition: border-color 0.2s ease-in-out; /* add transition effect */
}

.button:hover {
  border-color: black; /* change border color on hover */
}

.button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 24px;
  margin-bottom: 8px;
  text-rendering: optimizeLegibility;
}