.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(23, 21, 21);
    text-align: center;
    padding: 20px;
    background-color: #F9F1F0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
 
  .footer-seperator {
    margin-top: 0;
    margin-bottom: 0;
  }
 
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F1F0;
  }
 
  .footer-info__name {
    font-weight: lighter;
    font-size: 15px;
  }
 
  .footer-info__logo {
    font-size: 14px;
    text-align: center;
  }
 
  .footer-info__team {
   text-align: right;
  }
 
  .footer-info__logo a:hover,
  .footer-info__team a:hover {
    color: pink;
  }
 
  .footer-bottom {
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 12px;
  }