.pc-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FADCD9;
}

.priceChart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    max-width: 800px;
    max-height: 600px;
    background-color: #F8AFA6;
    border: 5px solid #F9F1F0;
    border-radius: 15px;
  }
  