#knownfor-title {
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
}

#emoji-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 5px solid grey;
  border-radius: 15px;
  padding: 2px;
}

.emoji-block {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}